:root {
  --cor-0: #fff;
  --cor-1: #87cefa;
  --cor-2: #7fffd4;
  --cor-3: #00ffff;
  --cor-4: #00bfff;
  --cor-5: #9e9e9e;
  --cor-6: #444444;
  --cor-7: #2e2e2e;
  --cor-8: #111111;
  --cor-9: #000;
}
