* {
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: var(--cor-4); */
  /* background: var(--cor-0); */
  background: azure;
  color: var(--cor-7);
 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-7);
}
